{% extends 'base/base.html' %}
{% block title %}スレッド作成 - {{ block.super }}{% endblock %}
{% block content %}
<div class="ui grid stackable">
	<div class="eleven wide column">
		<div class="ui breadcrumb">
			<a href="{% url 'base:top' %}" class="section">TOP</a>
			<i class="right angle icon divider"></i>
			<a class="active section">スレッド作成</a>
		</div>
		<div class="ui segment">
			<div class="content">
				<div class="header">
					<h3>スレッド作成</h3>
				</div>
				<p>内容を確認してください</p>
				<table class="ui celled table table table-hover">
					<tr>
						<td>タイトル</td>
						<td>{{form.title.value}}</td>
					</tr>
					{% if user.is_authenticated %}
					<tr>
						<td>お名前</td>
						<td>{{user.username}}</td>
					</tr>
					{% else %}
					<tr>
						<td>ゲスト名</td>
						<td>{{form.cleaned_data.user_name}}</td>
					</tr>
					{% endif %}
					<tr>
						<td>カテゴリー</td>
						<td>{{form.cleaned_data.category}}</td>
					</tr>
					<tr>
						<td>本文</td>
						<td>
							<pre>{{form.message.value}}</pre>
						</td>
					</tr>
				</table>
				<form class="ui form" action="{% url 'thread:create_topic' %}" method="POST">
					{% csrf_token %}
					{% for field in form %}
					{{field.as_hidden}}
					{% endfor %}
					<button class="ui button grey" type="submit" name="next"
						value="back">戻る</button>
					<button class="ui button orange" type="submit" name="next"
						value="create">作成</button>
				</form>
			</div>
		</div>
	</div>
	{% include 'base/sidebar.html' %}
</div>
{% endblock %}