[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
coverage = "*"
python-dotenv = "*"
autopep8 = "*"
flake8 = "*"
django-crispy-forms = "*"
pymysql = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "nodemon --exec python3 run.py"
test = "python -m unittest discover -v"
format = "autopep8 -ivr ."
lint = "flake8 --show-source ."
