{% extends 'base/base.html' %}
{% block title %}ITについて切磋琢磨する掲示板 - {{ block.super }}{% endblock %}
{% block content %}
<div class="ui grid stackable">
	<div class="eleven wide column">
		<div class="ui breadcrumb">
			<a href="{% url 'base:top' %}" class="section">TOP</a>
			<i class="right angle icon divider"></i>
			<a class="active section">ログイン</a>
		</div>
		<div class="ui segment">
			<div class="content">
				<div class="header">
					<h3>ログイン</h3>
				</div>
				<form class="ui form" action="" method="POST">
					{% csrf_token %}
					{{form.as_p}}
					<button class="ui orange button" type="submit">ログイン</button>
				</form>
			</div>
		</div>
		<a class="ui item" href="{% url 'accounts:create' %}">ユーザー登録</a>／
		<a class="ui item" href="{% url 'password_reset' %}">パスワードを忘れた場合</a>
	</div>
	{% include 'base/sidebar.html' %}
</div>
{% endblock %}