{% extends 'base/base.html' %}
{% block title %}ITについて切磋琢磨する掲示板 - {{ block.super }}{% endblock %}
{% block content %}
<div class="ui grid stackable">
	<div class="eleven wide column">
		<div class="ui breadcrumb">
			<a class="section" href="{% url 'base:top' %}">TOP</a>
			<i class="right angle icon divider"></i>
			<div class="active section">パスワードリセット完了</div>
		</div>
		<div class="ui segment">
			<div class="content">
				<div class="content">
					<div class="header">
						<h3>パスワードリセットが完了しました</h3>
					</div>
					<a href="{% url 'base:top' %}">TOPに戻る</a>
				</div>
			</div>
		</div>
	</div>
	{% include 'base/sidebar.html' %}
</div>
{% endblock %}