{% extends 'base/base.html' %}
{% block title %}ITについて切磋琢磨する掲示板 - {{ block.super }}{% endblock %}
{% block content %}
<div class="ui grid stackable">
	<div class="eleven wide column">
		<div class="ui breadcrumb">
			<a class="section" href="{% url 'base:top' %}">TOP</a>
			<i class="right angle icon divider"></i>
			<div class="active section">パスワードリセット</div>
		</div>
		<div class="ui segment">
			<div class="content">
				<div class="header">
					<h3>パスワードリセット</h3>
				</div>
				<form class="ui form" method="POST" action="">
					{% csrf_token %}
					{{form.as_p}}
					<button type="submit" class="ui orange button">変更する</button>
				</form>
			</div>
		</div>
	</div>
	{% include 'base/sidebar.html' %}
</div>
{% endblock %}